___
# Ciência dos Dados - PROJETO 1

## COLOQUE AQUI SEU NOME
___

## TÍTULO DO SEU PROJETO

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

___
## Análise e Resultados

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
/Users/lucasvaz/Documents/insper/cd/projeto1/Ciencia-dos-Dados/Projeto 1

In [3]:
#Se usar o arquivo descompactado
#pd.read_csv('DOM2015.csv',sep=',')
dados=pd.read_csv("DOM2015.csv")
dados2=pd.read_csv("DOM2013.csv")
#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('DOM2015csv.zip', compression='zip', header=0, sep=',', quotechar='"'

In [30]:
netcell=dados.V02324
netcomp=dados.V02323
nettablet=dados.V02325
nettv=dados.V02326
netoutro=dados.V02327
estado=dados.UF
ano=dados.V0101

#novo data frame

DF = pd.DataFrame()

#Dando nomes

DF["Ano"]=ano
DF["Estado"]=estado
DF["netCelular"]=netcell
DF["netMicroComputador"]=netcomp
DF["netTablet"]=nettablet
DF["netTv"]=nettv
DF["netOutros"]=netoutro

#transformando variaveis

DF.Ano=DF.Ano.astype("category")
DF.estado=DF.Estado.astype("category")
DF.netCelular=DF.netCelular.astype("category")
DF.netMicroComputador=DF.netMicroComputador.astype("category")
DF.netTablet=DF.netTablet.astype("category")
DF.netTv=DF.netTv.astype("category")
DF.netOutros=DF.netOutros.astype("category")


#Traduzindo Numeros
DF.netCelular.cat.categories = (["sim", "não"])
DF.netMicroComputador.cat.categories = (["sim", "não"])
DF.netTablet.cat.categories = (["sim", "não"])
DF.netTv.cat.categories = (["sim", "não"])
DF.netOutros.cat.categories = (["sim", "não"])
DF[DF.Estado==35].head(10)

        Ano  Estado netCelular netMicroComputador netTablet netTv netOutros
93131  2015      35        NaN                NaN       NaN   NaN       NaN
93132  2015      35        sim                sim       sim   não       não
93133  2015      35        sim                sim       sim   não       não
93134  2015      35        NaN                NaN       NaN   NaN       NaN
93135  2015      35        sim                sim       não   não       não
93136  2015      35        NaN                NaN       NaN   NaN       NaN
93137  2015      35        NaN                NaN       NaN   NaN       NaN
93138  2015      35        NaN                NaN       NaN   NaN       NaN
93139  2015      35        NaN                NaN       NaN   NaN       NaN
93140  2015      35        sim                sim       não   não       não

In [31]:
netcell2=dados2.V02324
netcomp2=dados2.V02323
nettablet2=dados2.V02325
nettv2=dados2.V02326
netoutro2=dados2.V02327
estado2=dados2.UF
ano2=dados2.V0101

#novo data frame

DF2 = pd.DataFrame()

#Dando nomes

DF2["Ano"]=ano2
DF2["Estado"]=estado2
DF2["netCelular"]=netcell2
DF2["netMicroComputador"]=netcomp2
DF2["netTablet"]=nettablet2
DF2["netTv"]=nettv2
DF2["netOutros"]=netoutro2


#transformando variaveis

DF2.Ano=DF2.Ano.astype("category")
DF2.estado=DF2.Estado.astype("category")
DF2.netCelular=DF2.netCelular.astype("category")
DF2.netMicroComputador=DF2.netMicroComputador.astype("category")
DF2.netTablet=DF2.netTablet.astype("category")
DF2.netTv=DF2.netTv.astype("category")
DF2.netOutros=DF2.netOutros.astype("category")


#Traduzindo Numeros
DF2.netCelular.cat.categories = (["sim", "não"])
DF2.netMicroComputador.cat.categories = (["sim", "não"])
DF2.netTablet.cat.categories = (["sim", "não"])
DF2.netTv.cat.categories = (["sim", "não"])
DF2.netOutros.cat.categories = (["sim", "não"])
DF2[DF2.Estado==35].head(10)

        Ano  Estado netCelular netMicroComputador netTablet netTv netOutros
91639  2013      35        NaN                NaN       NaN   NaN       NaN
91640  2013      35        sim                sim       sim   não       não
91641  2013      35        NaN                NaN       NaN   NaN       NaN
91642  2013      35        NaN                NaN       NaN   NaN       NaN
91643  2013      35        NaN                NaN       NaN   NaN       NaN
91644  2013      35        NaN                NaN       NaN   NaN       NaN
91645  2013      35        sim                não       não   não       não
91646  2013      35        NaN                NaN       NaN   NaN       NaN
91647  2013      35        não                sim       não   não       não
91648  2013      35        NaN                NaN       NaN   NaN       NaN

___
## Conclusão

Descreva aqui suas conclusões!

In [17]:
ut1 = (DF.netTablet.value_counts(sort=False, normalize=False)).round(decimals=1)
print(ut1,'\n')
ut2 = (DF.netCelular.value_counts(sort=False, normalize=False)).round(decimals=1)
print(ut2,'\n')
ut3 = (DF.netMicroComputador.value_counts(sort=False, normalize=False)).round(decimals=1)
print(ut3,'\n')
ut4 = (DF.netTv.value_counts(sort=False, normalize=False)).round(decimals=1)
print(ut4,'\n')
ut5 = (DF.netOutros.value_counts(sort=False, normalize=False)).round(decimals=1)
print(ut5,'\n')

sim    13884
não    53950
Name: netTablet, dtype: int64

sim    62996
não     4838
Name: netCelular, dtype: int64

sim    45945
não    21889
Name: netMicroComputador, dtype: int64

sim     4908
não    62926
Name: netTv, dtype: int64

sim      641
não    67193
Name: netOutros, dtype: int64

In [19]:
ut1 = (DF2.netTablet.value_counts(sort=False, normalize=False)).round(decimals=1)
print(ut1,'\n')
ut2 = (DF2.netCelular.value_counts(sort=False, normalize=False)).round(decimals=1)
print(ut2,'\n')
ut3 = (DF2.netMicroComputador.value_counts(sort=False, normalize=False)).round(decimals=1)
print(ut3,'\n')
ut4 = (DF2.netTv.value_counts(sort=False, normalize=False)).round(decimals=1)
print(ut4,'\n')
ut5 = (DF2.netOutros.value_counts(sort=False, normalize=False)).round(decimals=1)
print(ut5,'\n')

sim     9220
não    45870
Name: netTablet, dtype: int64

sim    30741
não    24349
Name: netCelular, dtype: int64

sim    47863
não     7227
Name: netMicroComputador, dtype: int64

sim     1486
não    53604
Name: netTv, dtype: int64

sim      365
não    54725
Name: netOutros, dtype: int64