In [1]:
import pandas as pd
pokedados=pd.read_csv("Pokemon.csv")
pd.options.mode.chained_assignment = None

In [2]:
print(pokedados.head())

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4             Charmander   Fire     NaN    309  39      52       43

   Sp. Atk  Sp. Def  Speed  Generation Legendary
0       65       65     45           1     False
1       80       80     60           1     False
2      100      100     80           1     False
3      122      120     80           1     False
4       60       50     65           1     False

In [243]:
def Type_Combination(x):
    x["Type Combination"]=""
    types=[]
    types.sort()
    for i in range(len(x)):
        a=x["Type 1"][i]
        b=x["Type 2"][i]
        if str(b)!="nan":
            c=str(a)+" "+str(b)
        else:
            c=str(a)
        if c not in types:
            types.append(c)
        x["Type Combination"][i]=c
                         
    return x,types

def SetList(dataframe,tipo):
    index=[]
    for i in range(len(dataframe)):
        if dataframe["Type Combination"][i]==tipo:
            index.append(i)
    return index

def SetDataFrame(dataframe,tipo):
    DF=pd.DataFrame()
    DF=dataframe.loc[SetList(dataframe,tipo),:]
    return DF

In [264]:
h=Type_Combination(pokedados)
SetDataFrame(h[0],"Water")

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Type Combination
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,Water
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,Water
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,Water
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,Water
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False,Water
60,55,Golduck,Water,NaN,500,80,82,78,95,80,85,1,False,Water
65,60,Poliwag,Water,NaN,300,40,50,40,40,40,90,1,False,Water
66,61,Poliwhirl,Water,NaN,385,65,65,65,50,50,90,1,False,Water
93,86,Seel,Water,NaN,325,65,45,55,45,70,45,1,False,Water
97,90,Shellder,Water,NaN,305,30,65,100,45,25,40,1,False,Water
106,98,Krabby,Water,NaN,325,30,105,90,25,25,50,1,False,Water
107,99,Kingler,Water,NaN,475,55,130,115,50,50,75,1,False,Water
125,116,Horsea,Water,NaN,295,30,40,70,70,25,60,1,False,Water
126,117,Seadra,Water,NaN,440,55,65,95,95,45,85,1,False,Water
127,118,Goldeen,Water,NaN,320,45,67,60,35,50,63,1,False,Water
128,119,Seaking,Water,NaN,450,80,92,65,65,80,68,1,False,Water
129,120,Staryu,Water,NaN,340,30,45,55,70,55,85,1,False,Water
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,Water
145,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False,Water
172,158,Totodile,Water,NaN,314,50,65,64,44,48,43,2,False,Water
173,159,Croconaw,Water,NaN,405,65,80,80,59,63,58,2,False,Water
174,160,Feraligatr,Water,NaN,530,85,105,100,79,83,78,2,False,Water
201,186,Politoed,Water,NaN,500,90,75,75,90,100,70,2,False,Water
241,223,Remoraid,Water,NaN,300,35,65,35,65,35,65,2,False,Water
242,224,Octillery,Water,NaN,480,75,105,75,105,75,45,2,False,Water
264,245,Suicune,Water,NaN,580,100,75,115,90,115,85,2,True,Water
280,258,Mudkip,Water,NaN,310,50,70,50,50,50,40,3,False,Water
350,320,Wailmer,Water,NaN,400,130,70,35,70,35,60,3,False,Water
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False,Water
373,341,Corphish,Water,NaN,308,43,80,65,50,35,35,3,False,Water
381,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False,Water
382,350,Milotic,Water,NaN,540,95,60,79,100,125,81,3,False,Water
401,366,Clamperl,Water,NaN,345,35,64,85,74,55,32,3,False,Water
402,367,Huntail,Water,NaN,485,55,104,105,94,75,52,3,False,Water
403,368,Gorebyss,Water,NaN,485,55,84,105,114,75,52,3,False,Water
405,370,Luvdisc,Water,NaN,330,43,30,55,40,65,97,3,False,Water
421,382,Kyogre,Water,NaN,670,100,100,90,150,140,90,3,True,Water
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True,Water
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False,Water
439,394,Prinplup,Water,NaN,405,64,66,68,81,76,50,4,False,Water
465,418,Buizel,Water,NaN,330,55,65,35,60,30,85,4,False,Water
466,419,Floatzel,Water,NaN,495,85,105,55,85,50,115,4,False,Water
469,422,Shellos,Water,NaN,325,76,48,48,57,62,34,4,False,Water
506,456,Finneon,Water,NaN,330,49,49,56,49,61,66,4,False,Water
507,457,Lumineon,Water,NaN,460,69,69,76,69,86,91,4,False,Water
547,489,Phione,Water,NaN,480,80,80,80,80,80,80,4,False,Water
548,490,Manaphy,Water,NaN,600,100,100,100,100,100,100,4,False,Water
560,501,Oshawott,Water,NaN,308,55,55,45,63,45,45,5,False,Water
561,502,Dewott,Water,NaN,413,75,75,60,83,60,60,5,False,Water
562,503,Samurott,Water,NaN,528,95,100,85,108,70,70,5,False,Water
574,515,Panpour,Water,NaN,316,50,53,48,53,48,64,5,False,Water
575,516,Simipour,Water,NaN,498,75,98,63,98,63,101,5,False,Water
595,535,Tympole,Water,NaN,294,50,50,40,50,40,64,5,False,Water
610,550,Basculin,Water,NaN,460,70,92,65,80,55,98,5,False,Water
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False,Water
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False,Water
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False,Water
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False,Water
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False,Water