In [1]:
import pandas as pd
pokedados=pd.read_csv("Pokemon.csv")
pd.options.mode.chained_assignment = None

In [2]:
print(pokedados.head())

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4             Charmander   Fire     NaN    309  39      52       43

   Sp. Atk  Sp. Def  Speed  Generation Legendary
0       65       65     45           1     False
1       80       80     60           1     False
2      100      100     80           1     False
3      122      120     80           1     False
4       60       50     65           1     False

In [45]:
def SetDataFrameType(dataframeN,type1,type2):
    index=[]
    dataframe=dataframeN.fillna("None")
    for i in range(len(dataframe)):
        if type2=="All":
            if dataframe["Type 1"][i]==type1 or dataframe["Type 2"][i]==type1:
                index.append(i)
        if type2=="None":
            if dataframe["Type 1"][i]==type1 and dataframe["Type 2"][i]=="None":
                index.append(i)      
        else:
            if dataframe["Type 1"][i]==type1 and dataframe["Type 2"][i]==type2 or dataframe["Type 1"][i]==type2 and dataframe["Type 2"][i]==type1:
                index.append(i)
    DF=pd.DataFrame()
    DF=dataframe.loc[index,:]
    return DF

def SetDataFrameLegendary(dataframe):
    index=[]
    for i in dataframe.index:
        if dataframe["Legendary"][i]==True:
            index.append(i)
    DF=pd.DataFrame()
    DF=dataframe.loc[index,:]
    
    return DF

In [51]:
DFWater=SetDataFrameType(pokedados,"Water","All")
SetDataFrameLegendary(DFWater)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
264,245,Suicune,Water,None,580,100,75,115,90,115,85,2,True
421,382,Kyogre,Water,None,670,100,100,90,150,140,90,3,True
422,382,KyogrePrimal Kyogre,Water,None,770,100,150,90,180,160,90,3,True
541,484,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True